<banner [title]="title"></banner>
<div class="container" *ngIf="!loading && worldChampions">
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Season</th>
          <th>Driver</th>
          <th class="hidden-mobile">Points</th>
          <th class="hidden-mobile">Constructors name</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let driver of worldChampions"
          [routerLink]="[
            '/winners',
            driver.season,
            'champion',
            driver.DriverStandings[0].Driver.permanentNumber
          ]"
        >
          <td>
            {{ driver.season }}
          </td>
          <td>
            {{ driver.DriverStandings[0].Driver.givenName }}
            {{ driver.DriverStandings[0].Driver.familyName }}
          </td>
          <td class="hidden-mobile">
            {{ driver.DriverStandings[0].points }}
          </td>
          <td class="hidden-mobile">
            {{ driver.DriverStandings[0].Constructors[0].name }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="!loading && !worldChampions">
  <div class="text-center pt-5">No data found. Please try again later</div>
</div>

<div *ngIf="loading">
  <loader></loader>
</div>
